@charset "UTF-8";

.fiche-produits{
	display: block;
}

.navbar-collapse{
	flex-grow: 0 !important;
}

.titre-accueil{
	display: block;
    text-align: center;
    font-size: 50px;
}

.imgLogo {
	max-width: 125px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    display: block;
}

.form-filtre{
	margin-bottom: 90px;
}

.filtre-titre{
	font-size: 24px;
}
.article{
	width: 45%;
	display: inline-block;
}
.article span{
	display: block;
}

.article div{
	display: inline-block;
}

.article-image{
	width: 70px;
    margin-top: -150px;
	margin-right: 15px;
}
.article-nom{
	font-weight: bold;
	margin-bottom: 15px;
}
.bouton{
	width: 250px;
    background-color: #F7F9F9;
    height: 125px;
    font-size: 26px;
    color: #55C794;
    border: solid 1px #55C794;
    border-radius: 5px;
}
.bouton:hover {
	opacity: 0.80;
	box-shadow: 0 0 8px rgb(0 0 0 / 25%);
}
.bandeau-recherche{
	border: 0px;
    border-bottom: 1px solid;
    margin-bottom: 25px;
   display: inline-block;
}
.bouton-bandeau{
	color: #55C794;
    border: solid 1px #55C794;
    border-radius: 5px;
    background-color: #F7F9F9;
    margin-right: 10px;
}

.nav-bouton-texte{
	color: #55C794;
    font-weight: 500;
}



