@charset "UTF-8";

.modifInscription label{
	padding-left: 300px;
	width: 400px;
	display: inline-block;
 	font-weight: bold;
}

.saveInscription {
	padding-left: 400px;
}
.saveInscription input{
	margin-right: 100px;
}

.inscription label{
	padding-left: 120px;
	width: 250px;
	display: inline-block;
	font-weight: bold;
}

.newMdp{
	padding-left: 100px;
}